<!DOCTYPE html>
<html>

<head>
    <title>Indice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>

<body class="fondo">
    <h1 class='titulo'>Bienvenido</h1>
    <a href="listar.html" class='botonIndex'>
        <button>Listar Vehiculos</button></a>
    <a href="agregar.html" class='botonIndex'>
        <button>Agregar nuevo Vehiculo</button></a>
</body>

</html>